.header {
    font-weight: 500;
    padding-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__nav-img {
    width: 250px;
    background-color: var(--blue);
    padding: 10px;
  }
  
  .header__nav-img img {
    width: 100%;
    /* object-fit: contain; */
  }
  
  .header__nav-list {
    /* display: inline-block; */
    list-style-type: none;
    /* background-color: green; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .header__nav-list li a {
    text-decoration: none;
    color: #000;
    /* padding-bottom: 10px; */
    font-size: 18px;
  }
  
  /* .header__nav-list li a:after {
    padding-bottom: 10px;
  } */
  
  .number {
    background-color: var(--blue);
    padding: 10px;
    /* color: #fff !important; */
  }
  
  /* Reduce length on active styling */
  .active:after {
    content: "";
    display: block;
    float: left;
    width: 60%;
    border-bottom: 3px solid var(--secondary);
  }
  