/* .about {
  margin-inline: 10%;
} */

.about__content {
  display: flex;
  margin-inline: 10%;
}

.about__content-img {
  width: 50%;
}

.about__content-text {
  width: 50%;
}

.about__content-img img {
  width: 100%;
}

@media (min-width: 801px) {
  .invert {
    flex-direction: row-reverse;
    /* height: 300px; */
  }
}
