/* .about {
  margin-inline: 10%;
} */
.about__intro {
  /* background-color: red;  */

  background-image: url(../images/pic.jpg);
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__intro h1 {
  color: #fff;
  margin-inline: 10%;
  margin-top: 80px;
  font-size: 48px;
}

.about__content {
  display: flex;
  margin-inline: 10%;
}

.about__content-img {
  width: 50%;
}

.about__content-text {
  width: 50%;
}

.about__content-img img {
  width: 100%;
}

@media (min-width: 801px) {
  .invert {
    flex-direction: row-reverse;
    /* height: 300px; */
  }
}
