.footer {
  background: #ffffff;
}

.footer .bottom {
  border-top: 1px solid #250e0e;
  border-bottom: 1px solid #250e0e;

  color: #000000;
  bottom: 0;
  width: 100%;
  height: auto;

  padding-top: 1%;
  padding-bottom: 0.5%;
  text-align: start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.creators {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.footer {
  /* background: #ffffff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8%;
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #000;
}

.top i:hover {
  color: #01959a;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer i {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}
