/* 
.footer {
  color: #000000;
  bottom: 0;
  width: 100%;
  height: auto;

  align-items: center;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFF;
  color: #000;
  padding: 20px;

  border-top: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-centre {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-left,
  .footer-centre,
  .footer-right {
    margin-bottom: 20px;
  }
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-top: 0.1rem solid #000;
  margin-top: 60px;
}

.footer p {
  margin: 0;
  padding: 1%;
}

.footer ul {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  gap: 25%;

  padding-right: 5px;
  width: 216.9062px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer li:hover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 20%;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(0, 132, 255, 0.32);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .footer p {
    font-size: 12px;
  }
}