.creators{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
}

.footer {
	/* background: #ffffff; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 8%;
	position: absolute;
	bottom: 0;
	width: 100vw;
	border-top: 1px solid #000;
  }

  .footer__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
	/* background-color: green; */
  }
  
  .footer a {
    padding: 0;
    text-decoration: none;
    color: #000;
  }
  
  @media screen and (max-width: 850px) {
	.footer {
	  /* padding: 4rem 2rem; */
	  flex-direction: column;
	  justify-content: center;
	  gap: 20%;
	  text-align: center;
	}
  
    .footer i {
      margin: 1rem 1rem 0 0;
    }
    
    .bottom div {
      width: 50%;
    }
  }
