.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  padding-right: 10px;
  position: relative;
  height: 70px;
  position: 99;
  z-index: 2;
}

.header__logo {
  width: 200px;
  background-color: var(--blue);
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo img {
  /* width: 150px;
  height: 200px; */
  width: 100%;
}

.header__menu {
  cursor: pointer;
}

.header__menu img {
  width: 30px;
  height: 30px;
}

.header__items {
  margin-top: 10px;
  /* display: n; */
  transition: 5s;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  background-color: #fff;
  /* width: 100%; */
  height: 100vh;
  z-index: 101;
}

.activeM {
  /* background-color: #fff !important; */
  color: var(--blue) !important;
  font-weight: 700;
}

.header__items li:first-child {
  margin-top: 60px;
}

.header__items li:not(:last-child) {
  /* margin-top: 30px; */
  padding-left: 10px;
  margin-bottom: 30px;
}
.number {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
}

.header__items a {
  text-decoration: none;
  /* font-size: 16px; */
}

/* .hide {
} */

.no-scroll {
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: 100;
}

/* Desktop */
.header__itemsD {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.header__itemsD a {
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
}

@media screen and (min-width: 641px) {
  .header__logo {
    /* padding: 200px; */
    width: 300px;
    padding: 20px;
  }

  .header {
    height: 100px;
  }

  .activeD::after {
    content: "";
    display: block;
    width: 70%;
    padding-top: 10px;
    border-bottom: 3px solid var(--secondary);
  }
}
