.hide {
  display: none;
}

.show {
  /* display: block; */
  position: fixed;
  top: 20%;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 90%;
  z-index: 99999;
  background-color: #fff;
  gap: 20px;
}

.modal__img {
  width: 100%;
}

.modal__img img {
  width: 100%;
}

@media screen and (min-width: 641px) {
  .modal {
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
  }

  .modal__img {
    width: 50%;
  }

  .modal__content {
    width: 50%;
  }
}
