.panel {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  width: 50px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.social {
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
  /* position: absolute; */
  /* bottom: 50%;
  margin-top: 20px; */
  width: 24px;
  height: 24px;
  margin-inline: auto;
  margin-block: 10px;
  /* gap: 100px; */
}

/* .social {
  width: 24px;
  height: 24px;
  align-items: center;
} */

.social:hover {
  background-color: var(--secondary);
  /* margin: 10px; */
  width: 30px;
  height: 30px;
}
