 
 body{
   font-family: 'Roboto';
   background-color: #FFF;
   margin:0;
   line-height: 1.5;
}

/* *{
    box-sizing: border-box;
    margin: 0;
} */

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
   width: 100%;
   height: 100%;
   background-color: #FFF;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   flex-flow: wrap;
   flex-wrap: wrap;
   }

.section-title{
   flex:0 0 100%;
   max-width: 100%;
   margin-bottom: 60px;
}

.services .section-title h1{
   position: relative;
   display: inline-block;
   text-align: start;
   font-size: 36px;
   color:#000000;
}

.services .section-title h1::before{
   content: "";
   position: absolute;
   display: block;
   height: 5px;
   width: 40%;
   background-color: #D3735D;
   bottom: -5px;
}

.services{
   min-height: 55vh;
   display: flex;
   justify-content: center;
}

.services .service-items{
   flex:0 0 100%;
	max-width: 100%;
}

.services .service-items .item{
   padding-bottom: 5%;

   gap: 15%;
   display: flex;
   justify-content: space-around;

}

.services .service-items .productDescription{
   display: flex;
   transform: translate(8%, -280%);
   -ms-transform: translate(10%, -160%);
   color: white;
   /* padding: 5px 15px; */
   font-size: 18px;
}

.services .service-items .btn{
   display: flex;
   transform: translate(15%, -325%);
   -ms-transform: translate(15%, -160%);
   background-color: #000;
   color: white;
   font-size: 12px;
   padding: 5px 15px;
   border: none;
   cursor: pointer;
   text-align: center;
}

.services .service-items .item-inner{
   width: 200px;
   height: 250px;
   box-sizing: border-box;
   object-fit: fill;
   
}

.services .service-items .readMoreConent{
   width: 929px;
   height: 396px;
}

.services .service-items .read-more-cont .readMoreConent{
   /* border:1px solid #000000; */
   height: 100%;
   width: 100%;
   object-fit: fill;
   text-align: start;
   display: none;
}

/* Responsiveness */

@media(max-width: 767px){
   .services .service-items .item{
     flex:0 0 100%;
     max-width: 100%;
  }
  .popup-box .popup-content{
       width: calc(100% - 30px);
  }
}
