.products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}

.product {
  background-size: cover;
  background-repeat: no-repeat;
  height: 330px;
  width: 275px;
  background-position: center;
  position: relative;
  margin-inline: auto;
}

.product__content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.product__content h2 {
  margin: unset;
  color: #fff;
  margin-bottom: 10px;
}

.product__content a {
  background-color: #000;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  margin-top: 30px;
}

/* Desktop */
@media (min-width: 641px) {
  .products {
    /* flex-wrap: wrap;
    flex-direction: row;
    gap: 40px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: red; */
  }

  .product {
    margin-inline: unset;
    width: unset;
    width: 275px;
  }
}

@media (min-width: 1201px) {
  .products {
    /* flex-wrap: wrap;
    flex-direction: row;
    gap: 40px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: green; */
  }

  .product {
    margin-inline: unset;
    width: unset;
    /* width: 275px; */
  }
}
