.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  /* background-color: green; */
}

.error__img img {
  width: 100%;
}

.error__top {
  text-align: center;
}

.error__bottom {
  text-align: center;
  /* color: greenyellow; */
  width: 100%;
}

.error__btn {
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 7px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.ec {
  background-color: var(--blue);
}

.error__page {
  background-color: #fff;
}
