@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --blue: #1c6eda;
  --secondary: #d3735d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fafbff;
  font-family: "Roboto", sans-serif;
}

p,
h1 {
  margin: 0;
}
