@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --blue: #1c6eda;
  --secondary: #d3735d;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #fafbff;
  font-family: "Roboto", sans-serif;
}

p,
h1 {
  margin: 0;
}

.underline {
  border-bottom: 3px solid var(--secondary);
}

.button {
  display: inline-block;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  text-align: center;
  padding-block: 15px;
  /* padding: 10px 30px; */
}
