@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --blue: #1c6eda;
  --secondary: #d3735d;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fafbff;
  font-family: "Roboto", sans-serif;
}

/* p,
h1 {
  margin: 0;
} */
@media screen and (max-width: 640px) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .hide-for-desktop {
    display: none !important;
  }
}

.ruler {
  border-bottom: 6px solid var(--secondary);
  width: 80px;
  float: left;
}

.button {
  display: inline-block;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  text-align: center;
  padding-block: 15px;
  /* padding: 10px 30px; */
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
